body{background-color:#f6f6f6;color: #666;font-size: 12px;}

.container .weui-cells{font-size: 15px;}
.center_info_spacing{
	text-align: center;
}
.text-center{
	text-align: center;
}
.font-bolder{
	font-weight: bolder;
}
.small-text{
	font-size: 13px;
}
.cancel-text{
	color: #F43530;
}
.text_blue{
	color:#0e82cf;
}
.text_yellow{
	color:#ff7300;
}
.text_red{
	color: #e93e2d;
}
.text-bold-red{
	font-weight: bold;
	color: #e93e2d;
}
.text-bold-blue{
	font-weight: bold;
	color: #3877c6;
}
.success-text{
	color: #09BB07;
}
.weui-footer__text{
	position: fixed;
	bottom: 10px;
	left:50%;
	margin-left: -88px;
}
/*icon start*/
.red-icon{
	width: 17px;
	color: #e64340;
	font-weight: bolder;
}
/*
.cddd-icon{
	position: relative;
    display: inline-block;
	width: 17px;
    height: 17px;
    background-image: url(../../images/icon_ph.gif);
}
.icon-user{
	background-position: -19px -21px;
}
.icon-lock{
	background-position: -1px -21px;
}
.icon-eye{
	background-position: -37px -21px;
}
.icon-red-user{
	background-position:-73px -1px;
}
.icon-red-phone{
	background-position:-19px -1px;
}
.icon-red-data{
	background-position:-37px -1px;
}
.icon-red-screenshot{
	background-position:-55px -1px;
}
.icon-red-exclamation-sign{
	background-position:-91px -1px;
}
.icon-red-bookmark{
	background-position:-109px -1px;
}
.icon-red-edit{
	background-position:-1px -1px;
}
.icon-red-ruller{
	background-position:-55px -21px;
}
.icon-red-drawer{
	background-position:-73px -21px;
}
*/
/*css 箭头*/
.icon-arrow1,.icon-arrow2{
    width:0;
    height:0;
    display:block;
    position:absolute;
    left:0;
    z-index: 5;/*兼容ie8-*/
    border-bottom:10px transparent dashed;
    border-left:10px transparent dashed;
    border-right:10px transparent dashed;
    border-top:10px transparent dashed;
    overflow:hidden;
}
.icon-css-arrow{
	width:20px;
    height:20px;
    position:absolute;
    left:0;
    top:0;
    z-index: 2;/*兼容ie8-*/
    border:0;
}

/*下箭头*/
.icon-bottom{
	top:24px;
}
.icon-bottom .icon-arrow1{
    top:1px;/*重要*/
    border-top:10px #666 solid;
}
.icon-bottom .icon-arrow2{
    border-top:10px white solid;
}
/*右箭头*/
.icon-right{
	top:18px;
}
.icon-right .icon-arrow1{
    left:1px;/*重要*/
    border-left:10px #666 solid;
}
.icon-right .icon-arrow2{
    border-left:10px white solid;
}
/*左箭头*/
.icon-left{
	top:18px;
}
.icon-left .icon-arrow1{
    border-right:10px #666 solid;
}
.icon-left .icon-arrow2{
    left:1px;/*重要*/
    border-right:10px white solid;
}
/*上箭头*/
.icon-top{
	top:12px;
}
.icon-top .icon-arrow1{
    border-bottom:10px #666 solid;
}
.icon-top .icon-arrow2{
    top:1px;/*重要*/
    border-bottom:10px white solid;
}
.hide_page{
	position: absolute;
	top: 0;
	left: 100%;
	width: 100%;
	min-height: 100%;
	background-color: #f6f6f6;
	z-index: 5;
}
.wx-list-top{
	background-color: #fafafa;
	color: #333;
}
.wx-top-border{
	position: absolute;
	width: 100%;
	top:0;
}
.wx-top-border div{
	position: absolute;
	left: 50%;
	top:10px;
	margin-left: -50px;
	height: 30px;
	width: 95px;
	border-left: 1px solid #ddd;
	border-right:1px solid #ddd; 
}
/*fontface  font icon*/
@font-face {
	font-family: "iconfont";
  	src:url('../../images/iconfont.ttf') format('truetype');
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;  
}
[class^="cddd-icon-"]:before, [class*=" cddd-icon-"]:before {
    display: inline-block;
    margin-left: .2em;
    margin-right: .15em;
}
.cddd-icon-cancel:before { content: "\e610"; }

.cddd-icon-point:before {content: "\e611"; }

.cddd-icon-edit:before { content: "\e606"; }

.cddd-icon-label:before { content: "\e607"; }

.cddd-icon-next:before { content: "\e608"; }

.cddd-icon-user:before { content: "\e609"; }

.cddd-icon-data:before { content: "\e60a"; }

.cddd-icon-phone:before { content: "\e60b"; }

.cddd-icon-warning:before { content: "\e60c"; }

.cddd-icon-order:before { content: "\e60d"; }

.cddd-icon-lock:before { content: "\e60e"; }

.cddd-icon-money:before { content: "\e60f"; }

.cddd-icon-add:before { content: "\e612"; }

.cddd-icon-browse_fill:before { content: "\e613"; }

.cddd-icon-browse:before { content: "\e614"; }

.cddd-icon-red-packet:before { content: "\e615"; }

.cddd-icon-line-chart:before { content: "\e616"; }

.cddd-icon-headlines:before { content: "\e617"; }

.cddd-icon-picture:before { content: "\e618"; }

.cddd-icon-share:before { content: "\e619"; }

.cddd-icon-setup:before { content: "\e61a"; }
/*弹框样式*/
.cddd_dialog .weui-dialog{
	padding:0 10px;
	background-color: #fefefe;
}
.cddd_dialog .weui-dialog__bd{
	position: relative;
   	padding: 0.8em 0;
    border-top: 1px solid #e5e5e5;
    min-height: 20px;
    color: #333;
    font-size: 17px;
}
.cddd_dialog .weui-dialog__hd{
	font-size: 20px;
	color: #333;
	padding:10px 0;
}
.pay_dialog .weui-cell{
	padding:0;
	text-align: left;
	font-size: 15px;
	color: #999
}
.pay_dialog .weui-dialog__bd table{
	outline:#999 solid 1px;
	border-collapse: collapse;
	background-color: #fff;
}
.pay_dialog .weui-dialog__bd table td{
	border:#ddd solid;
	border-width:0 1px 0 0;
	height: 40px;
	width: 47px;
}
.pay_dialog .weui-dialog__bd table td .iconfont{
	font-size: 30px;
}
.pay_dialog .weui-dialog__bd table td:last-child{
	border-right: 0px;
}
.pay_dialog .num_content{
	padding: 20px 0;
}
.pay_dialog .num_content p:first-child{
	font-size: 15px;
}
.pay_dialog .num_content p:last-child{
	font-size: 35px;
}
.pay_dialog input{
	width: 110%;
	height: 40px;
	position: absolute;
	top:13px;
	left:0px;
	opacity: 0;
	outline:none;
}





